<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success!</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <h1>Thank you for applying!</h1>
    <p>You'll be the first to receive our news.</p>
    <a href="/emails">See registered e-mails</a> |
    <a href="/">Go Home</a>
  </div>
</body>

</html>